<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Базовая страница</title>
</head>

<body>
    <h1>Главная страница</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quos perspiciatis eum incidunt,
        vero placeat deleniti labore tempore. Labore consequatur repellendus cumque tenetur dolore amet
        explicabo id adipisci, corrupti voluptates?</p>
    {% block content %}
    <table>
        {% for i in name %}
        <tr>
            {% for j in i %}
            <td>
                {{j}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    {% endblock %}
</body>

</html>